/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Tamaño de títulos */
h1 {
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff; /* Cambiar el color a blanco */
}

h2 {
    font-size: 2.7em;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #000000; /* Cambiar el color a negro */
}

h3 {
    font-size: 1.9em;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff; /* Cambiar el color a blanco */
}

/* Tamaño de párrafo */
p {
    font-size: 1.50em;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #000000; /* Mantener el color negro */
}

/* Sacar puntero */
ul {
    font-size: 1.50em;
    font-family: 'Open Sans', sans-serif;
    color: #000000; /* Mantener el color negro */
}

/* Tamaño de listas */
li {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    color: #000000; /* Mantener el color negro */
}

a {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    color: #000000; /* Mantener el color negro */
}

address {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #000000; /* Mantener el color negro */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../MEDIA/bg1.jpg);
}

header {
    background-color: #333;
    color: #4CAF50;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fdfdfd;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: center;
    margin: 0 10px;
}

main {
    padding: 20px;
}

/* Estilos para las secciones */
section {
    margin-bottom: 100px;
    background-color: #fafafa;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* Subtítulos en negro */
section h2 {
    color: #000000;
    font-family: 'Merriweather', serif; /* Fuente Merriweather */
}

/* Mantener color negro para p en secciones */
section p {
    color: #000000;
    font-family: 'Open Sans', sans-serif; /* Fuente Open Sans */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

address {
    font-style: normal;
}

button {
    background-color: #00ff40;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin: 10px;
}

button {
    background-color: #4CAF50;
}

/* Estilos para el pie de página */
footer {
    background-color: rgb(54, 55, 58);
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
    font-family: 'Open Sans', sans-serif;
}

footer .container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
